/*VARIABLE*/
/*END VARIABLE
---------------------------------------------------------*/
/*GENERAL*/
* {
  box-sizing: border-box;
}

body {
  background: #E8E8E8;
}

.button {
  margin: 50px 0 0 0;
}

/*END GENERAL
---------------------------------------------------------*/
/*BUTTONS CREATION*/
.back, .next {
  position: relative;
  display: block;
  float: left;
  margin: 0 20px 0 0;
  width: 50px;
  height: 50px;
  border: solid #999 3px;
  border-radius: 100%;
}
.back:before, .next:before {
  content: " ";
  display: block;
  position: absolute;
  width: 35%;
  height: 35%;
  border: solid #999 3px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
          transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
}

.back:before {
  border-right: none;
  border-bottom: none;
  left: 58%;
}

.next:before {
  border-top: none;
  border-left: none;
  left: 42%;
}

/*END BUTTONS CREATION
---------------------------------------------------------*/
/*EFFECT*/
.back, .next {
  cursor: pointer;
  /*transition: all $btTransiTime linear;*/
}
.back:before, .next:before {
  /*transition: all $btTransiTime linear;*/
}
.back:hover, .next:hover {
  border-width: 4px;
  border-color: #4A99C6;
}
.back:hover:before, .next:hover:before {
  border-width: 4px;
  border-color: #4A99C6;
}

.back:active:before {
  left: 52%;
}

.next:active:before {
  left: 48%;
}

.btclick {
  border-width: 5px;
  border-color: #4A99C6;
}
