@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  /*background-color: #008C9E;*/
  background-color: #4A99C6;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}
header .title {
  text-transform: uppercase;
  font-size: 1.2em;
  border: 5px solid white;
  padding: 1em;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  overflow-y: scroll;
  background-color: #F6F6F6;
}
nav ul li {
  opacity: 0;
  -webkit-transition: .5s opacity;
          transition: .5s opacity;
}
nav ul li.visible {
  opacity: 1;
}
nav li a {
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 2em;
  border-bottom: 1px solid #D8D8D8;
  color: #343838;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
nav li a span {
  font-weight: 300;
  display: block;
  font-size: .7em;
  color: #D8D8D8;
  font-style: italic;
}
nav li a:hover {
  /*background-color: #005F6B;*/
  background-color: #86B500;
  color: white;
}
nav footer {
  color: #343838;
  text-align: center;
  padding: 1em;
  font-size: 0.7em;
}

@media all and (max-width: 791px) {
  header {
    position: inherit;
    width: 100%;
    top: none;
    left: none;
  }
  header .title {
    border: none;
    padding: 4em;
  }

  nav {
    position: inherit;
    width: 100%;
    top: none;
    right: none;
  }
}
