@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
canvas {
  display: block;
  width: 100%;
  height: auto;
}

.list-group-item-head {
  font-size: 20px;
  cursor: pointer;
}

.cors-warning {
  font-size: 9pt;
  min-width: 100px;
  padding: 5px 8px;
  background-color: #ddd;
}
.cors-warning p {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.alpha-wrapper {
  margin: 0rem auto;
    margin-bottom: 1rem;
  background-color: #8C8C8C;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-image: linear-gradient(45deg, #BFBFBF 25%, transparent 25%, transparent 75%, #BFBFBF 75%, #BFBFBF), linear-gradient(45deg, #BFBFBF 25%, transparent 25%, transparent 75%, #BFBFBF 75%, #BFBFBF);
}
