/*VARIABLE*/
$btWidthHeight: 50px;
$btThickness: 3px;
$btColor: #999;
$btHoverColor: #0291BD;
$btActiveColor: #02B2E8;
$btTransiTime: 0.05s;
/*END VARIABLE
---------------------------------------------------------*/

/*GENERAL*/
*{
  box-sizing: border-box;
}
body{
  background: #E8E8E8;
}
.button{
  margin: 100px 0 0 100px;
} 
/*END GENERAL
---------------------------------------------------------*/

/*BUTTONS CREATION*/  
.back, .next{
  position: relative;
  display: block;
  float: left;
  margin: 0 20px 0 0;
  width: $btWidthHeight;
  height: $btWidthHeight;
  border: solid $btColor $btThickness;
  border-radius: 100%;
  &:before{
    content: " ";
    display: block;
    position:absolute;
    width: 35%;
    height: 35%;
    border: solid $btColor $btThickness;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
  }
}
.back:before{
  border-right: none;
  border-bottom: none;
  left: 58%;
}
.next:before{
  border-top: none;
  border-left: none;
  left: 42%;
}
/*END BUTTONS CREATION
---------------------------------------------------------*/


/*EFFECT*/
.back, .next{
  cursor:pointer;
  /*transition: all $btTransiTime linear;*/
  &:before{
    /*transition: all $btTransiTime linear;*/
  }
  &:hover{
    border-width: $btThickness+1px;
    border-color: $btHoverColor;
    &:before{
      border-width: $btThickness+1px;
      border-color: $btHoverColor;
    }
  }
}
.back:active:before{
  left:52%;
}
.next:active:before{
  left:48%;
}
.btclick{
  border-width: $btThickness+2px;
  border-color: $btActiveColor;
}