@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

//Keyframes for the load animation on the H1
@keyframes fadeIn { 
  from { opacity:0; } to { opacity:1; } 
}

// Cause yolo
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Baby reset
html, body, main{
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #008C9E;
}

//Lets make that billboard hustla
header{
  position:absolute;
  top:0;
  left:0;
  width:60%;
  text-align: center;
  opacity:0;
  animation:fadeIn ease-in 1; 
  animation-fill-mode:forwards;
  animation-duration:.5s;
  
  .title{
    text-transform:uppercase;
    font-size:1.2em;
    border: 5px solid white;
    padding: 1em;
    //Lets fade this in on load
    opacity:0;
    animation:fadeIn ease-in 1; 
    animation-fill-mode:forwards;
    animation-duration:.5s;
    animation-delay: 1s;
  }
}

nav{
  position:absolute;
  top:0;
  right:0;
  width:40%;
  overflow-y:scroll;
  background-color:#F6F6F6;
  
  //These work with the jQuery to make the sequentail loading effect work
  ul li { 
  opacity: 0; 
  transition: .5s opacity; 
  }

  ul li.visible { 
    opacity: 1; 
  }
 
  li a{
    font-weight:400;
    display:block;
    text-decoration:none;
    padding:2em;
    border-bottom:1px solid #D8D8D8;
    color:#343838;
    transition: 0.2s ease;
    
    span{
      font-weight:300;
      display:block;
      font-size:.7em;
      color:#D8D8D8;
      font-style:italic;
      
    }
    
    &:hover{
      background-color:#005F6B;
      color:white;
    }
    
  }

  footer{
    color:#343838;
    text-align:center;
    padding:1em;
    font-size:.7em
  }

}

// 50% of people on mobile tho.
@media all and (max-width: 791px) {
  
  header{
    position:inherit;
    width:100%;
    top:none;
    left:none;
    .title{
      border:none;
      padding:4em;
    }
  }
  
  nav{
    position:inherit;
    width:100%;
    top:none;
    right:none;
  }
  
}