div.container
  label
    input(type="radio" name="images")
    img(src="http://placekitten.com/192/108")
  label
    input(type="radio" name="images")
    img(src="http://placekitten.com/g/192/108")
  label
    input(type="radio" name="images")
    img(src="http://placekitten.com/g/192/108")
  label
    input(type="radio" name="images")
    img(src="http://placekitten.com/192/108")
    