<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Meme Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
        <script>(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
        };
 
    // Abort if browser does not support addEventListener
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);</script>

    <link rel="stylesheet" href="css/reset_back.css">
    <link rel="stylesheet" href="css/style_back.css">
    <link rel="stylesheet" href="css/reset_meme.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://cdn.rawgit.com/buberdds/angular-bootstrap-colorpicker/master/css/colorpicker.min.css'>

    <link rel="stylesheet" href="css/style_meme.css">
    <style>
      h1, span, p, a, dt {
        font-family: 'DIN Condensed','Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
      }
      .log-image {
        height: 2rem;
        width: 2rem;
        display: none;
      }
      .log-image:hover {
        cursor: pointer;
      }
        dt{font-family:font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
        font-size: 0.8rem;}
      .tooltip-inner {
        white-space: nowrap;
      }
.h2-bar{color:#FFFFFF;background: #FFfFFF;font-size: 1.2rem; color: #0073AF;  font-weight:lighter;  height: 2.4rem; vertical-align:middle; text-align: center;margin: 0;}
      .h2-bar>a{float: left; padding: 0rem,0rem,0rem,0rem;    margin-left: 0.53333rem; height: 1.25rem;paddig-top: 0.9rem;margin-top: 0.45rem;}
    .h2-bar> img{height: 1.25rem;}
        .h2-bar > p{ font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;   text-align: center;  padding-top: 0.7rem;margin: 0;margin-bottom: }
.divline{text-align:center;padding-top: 0rem;
}
.divline > img{
width:18.93333rem;
margin-top: 0rem;
}
.maintext {
background: #FFfFFF;font-size: 00.9rem; color: #3C3C3C ;  font-weight:lighter;  height: 1rem; vertical-align:middle; text-align: center;font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif; padding-top: 0.5rem; padding-left: 4.4rem;
}
    </style>
    
    
  </head>

  <body>

    
 <h2 class="h2-bar" >
 <a href="image-selection.html"><img style="width:1.6rem;" src="images/back.png" alt="返回" /></a><p>MEME GENERATOR</p>
</h2>
<div class="clear"></div>
        <div class="divline"><img src="images/divideline.png"></div>
      <div ng-app="MemeApp" ng-controller="MemeCtrl">

  <div class="alpha-wrapper" style="width: 80%; height: 51%;  ">
      
    <image-generator-canvas igc-controller="imageGenerator" width="{{width}}"
                            height="{{height}}" ></image-generator-canvas>
  </div>
  <form  style=" width: 80%; text-align:center; margin-left:10%; margin-top: 2%">
    <div ng-hide="hideLayers" class="list-group">
      <div style="background: #DCE559 ;"ng-repeat="layer in imageGenerator.layers" class="list-group-item">
        <div ng-if="!!layer.expanded">
          <div ng-hide="!!layer.text" class="row">
            <dl class="col-sm-12">
              <dt>Image (url)</dt>
              <dd>
                <input type="text" ng-model="layer.imageUrl" placeholder="http://" class="form-control"/>
              </dd>
            </dl>
          </div>
            <dl class="col-sm-9" style="margin-top:0.5rem;margin-bottom:0.5rem;width:100%;padding:0;">
              <dd>
                <input type="text" ng-model="layer.text" class="form-control"/>
              </dd>
            </dl>
                      <div ng-hide="!!layer.imageUrl" class="row">

            <dl class="col-sm-3"style="margin-bottom:0.5rem; float:left; padding-right:0.5rem; width:50%">
              <dt>Color</dt>
              <dd>
                <input type="text"  colorpicker="hex" ng-model="layer.color" class="form-control"/>
              </dd>
            </dl>
        
            <dl class="col-sm-3" style="margin-bottom:0.5rem; float:right;width:50%;padding-left:0.5rem;">
              <dt>Position</dt>
              <dd>
                <select ng-options="o[0] as o[1] for o in alignments" ng-model="layer.align" class="form-control"></select>
              </dd>
            </dl>  </div>
                      <div ng-hide="!!layer.imageUrl||!layer.text" class="row">

            <dl class="col-sm-6" style="margin-bottom:0.5rem; float:left; padding-right:0.5rem; width:50%">
              <dt>Font-family</dt>
              <dd>
                <select ng-options="o[0] as o[1] for o in fontsAvail" ng-model="layer.font" class="form-control"></select>
              </dd>
            </dl>
            <dl class="col-sm-3" style="margin-bottom:0.5rem; float:right;width:50%;padding-left:0.5rem;">
              <dt>Font size</dt>
              <dd>
                <input type="number" ng-model="layer.fontSize" class="form-control"/>
              </dd>
            </dl>
          </div>
          <div class="row">
            <!--<dl class="col-sm-3">-->
              <!--<dt>Width</dt>-->
              <!--<dd>-->
                <!--<input type="number" ng-model="layer.width" min="0" ng-disabled="layer.autoSize" class="form-control"/>-->
              <!--</dd>-->
            <!--</dl>-->
            <!--<dl class="col-sm-3">-->
              <!--<dt>Height</dt>-->
              <!--<dd>-->
                <!--<input type="number" ng-model="layer.height" min="0" ng-disabled="layer.autoSize" class="form-control"/>-->
              <!--</dd>-->
            <!--</dl>-->
           
                      </div>
        </div>
      </div>
    </div>

    <dl class="buttons">
      <!--<div class="pull-right">-->
      <!--<label>-->
      <!--<input type="checkbox" ng-model="hideLayers"/> Hide Layer Config-->
      <!--</label>-->
      <!--<label>-->
      <!--<input type="checkbox" ng-model="hideBgSettings"/> Hide BG Config-->
      <!--</label>-->
      <!--</div>-->
      <!--<button ng-click="imageGenerator.addLayer({expanded: true})" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Layer</button>-->
      <!--<button ng-click="imageGenerator.redraw()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Redraw</button>-->
      <div style="position: absolute">
        <!--<a href="#" igc-downloader="imageGenerator" class="btn btn-default"-->
          <!--style="font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif; background-color: #A8B518; color: #fff">-->
          <!--SAVE-->
        <!--</a>-->
        <div style="float: right"> 
                 <a href="#" igc-downloader="imageGenerator" class="btn btn-default"
          style="font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif; background-color: #A8B518;
          color: #fff; height: 2rem; font-size: 1.2rem; margin-right: 0.5rem">
          SHARE
        </a>
          <div style="display: inline">
            <a data-toggle="tooltip" data-placement="bottom" title="Connect to Facebook">
              <img id="fb-login" class="log-image" src="img/fb_gray.png" onclick="login();" />
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Logout Facebook">
              <img id="fb-logout" class="log-image" src="img/fb_blue.jpg" onclick="logout();" />
            </a>
          </div>
          <!-- <fb:login-button auto_logout_link="true" background="dark" scope="public_profile, publish_actions" login_text="Connect with Facebook"/> -->
        </div>
      </div> 
    </dl>
    <!--<div ng-hide="hideBgSettings" class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="none"/> No background (transparent)-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="solid"/> Solid color background-->
        <!--</label>-->
        <!--<div ng-show="backgroundImgType === 'solid'">-->
          <!--<input type="text" colorpicker="rgba" ng-model="backgroundColor" class="form-control"/><em class="text-muted">All context fillStyle props supported here.</em>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div ng-hide="hideBgSettings" class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="preset"/> Preset background image-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="custom"/> Custom background image url-->
        <!--</label>-->
      <!--</div>-->
      <!--<dl ng-show="backgroundImgType === 'preset'" class="col-sm-12">-->
        <!--<select ng-options="o[0] as o[1] for o in backgroundImgs" ng-model="backgroundImg" class="form-control"></select>-->
      <!--</dl>-->
      <!--<dl ng-show="backgroundImgType === 'custom'" class="col-sm-12">-->
        <!--<input type="text" ng-model="backgroundImg" placeholder="http://" class="form-control"/>-->
      <!--</dl>-->
    <!--</div>-->
    <!--<div ng-show="backgroundImgType === 'custom' || backgroundImgType === 'preset'" class="row">-->
      <!--<dl ng-hide="hideBgSettings" class="col-sm-12">-->
        <!--<dt>Background Image Position</dt>-->
        <!--<dd class="row">-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="cover" ng-model="backgroundImgPos"/> Cover-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="fit" ng-model="backgroundImgPos"/> Fit-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="stretch" ng-model="backgroundImgPos"/> Stretch-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="repeat" ng-model="backgroundImgPos"/> Repeat-->
          <!--</label>-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<dl class="col-sm-6">-->
        <!--<dt>Width</dt>-->
        <!--<dd>-->
          <!--<input type="number" ng-model="width" class="form-control"/>-->
        <!--</dd>-->
      <!--</dl>-->
      <!--<dl class="col-sm-6">-->
        <!--<dt>Height</dt>-->
        <!--<dd>-->
          <!--<input type="number" ng-model="height" class="form-control"/>-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</div>-->
  </form>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index_back.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src='http://cdn.rawgit.com/buberdds/angular-bootstrap-colorpicker/master/js/bootstrap-colorpicker-module.min.js'></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/purl.js"></script>

<script src="js/index_meme.js"></script>
<script src="js/social_share.js"></script>
<script src="js/base64-binary.js"></script>
<script src="js/facebook-photo-post-javascript.js"></script>
  </body>
</html>
