<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Reply Page</title>

    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/reset_back.css">
    <link rel="stylesheet" href="css/style_back.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style_reply.css">

    <style>
      h1, span, div, a {
        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
        text-shadow: none;
      }
      .reply-button {
       /* Rectangle 8 Copy: */
background: #A8B518;
/* Reply Copy: */
font-family: DINCondensed-Bold;
font-size: 43px;
color: #3C3C3C;
line-height: 52px;

        -webkit-transition: 350ms box-shadow;
        -moz-transition: 350ms box-shadow;
        -ms-transition: 350ms box-shadow;
        -o-transition: 350ms box-shadow;
        transition: 350ms box-shadow;
      }
 body{background-color: white}
      h1, span, div, a {
font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;         text-shadow: none;
          font-size: 1rem;
      }
        .h2-bar{color:#FFFFFF;background: #FFfFFF;font-size: 1.2rem; color: #0073AF;  font-weight:lighter;  height: 1.9rem; vertical-align:middle; text-align: center;margin: 0;width: 100%}
        .h2-bar>a{float: left; padding: 0rem,0rem,0rem,0rem;    margin-left: 0.53333rem; height: 1.25rem;paddig-top: 0.9rem;margin-top: 0.45rem;}
    .h2-bar> img{}
        .h2-bar > p{ font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;   text-align: center;  padding-top: 0.7rem;margin: 0;margin-bottom: }
.divline{text-align:center;padding-top: 0rem;
}
.divline > img{
width:18.93333rem;
margin-top: 0rem;
}
.maintext {
background: #FFfFFF;font-size: 00.9rem; color: #3C3C3C ;  font-weight:lighter;  height: 1rem; vertical-align:middle; text-align: center;font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif; padding-top: 0.5rem; padding-left: 4.4rem;
}
        .comments{background-color: #F3F3C2 }
        .comment-form{/* Rectangle 13: */
background: #DCE559;
border: 1px solid #979797;
        margin-left: 0.6rem;
        margin-right: 0.6rem;}
        .comment-form>h2{text-align: center;/* Reply to Topic 1: */
font-family: DINCondensed-Bold;
            font-size: 1.2rem;
color: #0073AF;
}
      .titlebox{
            margin-right: 0.6rem;
        margin-left: 0.6rem;}
            .titlebox > img{float:right; padding: 0rem,0rem,0rem,0rem;    margin-left: 0.53333rem; height: 2rem;paddig-top: 0rem;margin-top: 0.1rem;}
        .titlebox > p{ text-align:left;max-width:15rem;font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;   text-align: left;  padding-top: 0rem;margin: 0;font-size: 1.2rem;}
        .content{font-family: 'DIN Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;   text-align: left; padding-top: 0rem;margin-left: 0.6rem;margin-right: 0.6rem;
        }
.comments-app {
    margin:  auto;
    padding: 0;
    width: 100%;
}
    </style>
       <script>(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
        };
 
    // Abort if browser does not support addEventListener
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);</script>
  </head>

  <body>
       <h2 class="h2-bar" >
           <a href="question-board.html"><img  src="images/back.png" alt="返回" /></a>
<p>QUESTION BOARD</p>
</h2>
<div class="clear"></div>
 <div class="divline"><img src="images/divideline.png"></div>
    <div class="comments-app" ng-app="commentsApp" ng-controller="CommentsController as cmntCtrl">
        <h2 class="titlebox" >    <img class="reply-button" onclick="reply();" src="images/reply.png" alt="reply" /> <p id="title_text"><span id="title_text"></span></p>
    <span style="font-size: 0.5rem; line-height: 1.5rem; color:#bbbbbb; font-style:italic;" id="time_text"></span>
    <span style="font-size: 1.1rem; line-height: 1.3rem" id="detail_text"></span>
  </h2>
  
  <!-- From -->
  <div class="comment-form" style="display: none;">
    <!-- Comment Avatar -->
            <h2>REPLY</h2>
    <form class="form" name="form"style="margin-left:0rem;" ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
        <div style="background:#ffffff; margin-right:0.8rem;  margin-bottom:0.6rem;margin-left:0.8rem;">
      <div class="form-row">
        <textarea 
          class="input" style="font-family: Arial;
font-size: 0.8rem; line-height: 0.8rem; height:3rem;color:black; "
          ng-model="cmntCtrl.comment.text"
          placeholder="Add comment..."
          required></textarea>
      </div>

      <div class="form-row">
        <input
          class="input" style="font-family: Arial;
font-size: 0.8rem; line-height: 0.8rem; height:1rem;color:black; "
          ng-class="{ disabled: cmntCtrl.comment.anonymous }"
          ng-disabled="cmntCtrl.comment.anonymous"
          ng-model="cmntCtrl.comment.author"
          ng-required="!cmntCtrl.comment.anonymous"
          placeholder="Preferred Name"
          type="text">
      </div>
      <div class="form-row">
        <input
          class="input" style="font-family: Arial;
font-size: 0.8rem; line-height: 0.8rem; height:1rem;color:black; "
          ng-class="{ disabled: cmntCtrl.comment.anonymous }"
          ng-disabled="cmntCtrl.comment.anonymous"
          ng-model="cmntCtrl.comment.email"
          ng-required="!cmntCtrl.comment.anonymous"
          placeholder="Email Address"
          type="email">
      </div>
                        </div>


      <div class="form-row">
        <input type="submit" style="/* Rectangle 8 Copy 2: */
background: #A8B518;
/* Reply Copy 2: */
font-family: DINCondensed-Bold;
                      margin:auto;margin-top:0rem; margin-bottom:0.5rem;
font-size: 1.2 rem;
color: #FFFFFF;" value="Submit">
      </div>
    </form>
  </div>

  <!-- Comments List -->
  <div class="comments" style="margin-top:0.6rem;" id="comment_list">
    
    <!-- Comment -->
    <div class="comment" style="background-color:#F3F3C2 " ng-repeat="comment in cmntCtrl.comments | orderBy: '-date'">
      <div class="comment-box" style="background-color:#F3F3C2; margin-left:0;" >
        <div class="comment-text">{{ comment.text }}</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <em ng-if="comment.anonymous">Anonymous</em>
              <!--<a ng-if="!comment.anonymous" href="mailto:{{ comment.email }}">{{ comment.author }}</a>-->
              <a ng-if="!comment.anonymous">{{ comment.author }}</a>
            </span>
            <span class="comment-date" style="font-size: 0.5rem; color:#bbbbbb; font-style:italic;" >{{ comment.date | date: 'y/MM/dd hh:mm:ss' }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index_back.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

    <script src="js/purl.js"></script>
    <script src="js/index_reply.js"></script>
  </body>
</html>
