div.container(ng-app="MemeApp", ng-controller="MemeCtrl")
  h1.text-center Meme Generator
  p.lead.text-center.text-muted A multi-layer canvas implementation done in Angular JS.
  div.alpha-wrapper
    image-generator-canvas(igc-controller="imageGenerator", width="{{width}}", height="{{height}}")

    div.cors-warning(ng-hide="hideWarning")
      p Images that can't be found, or are loaded from a server that doesn't support / allow CORS, will appear as a red X. 
        a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image", target="_blank") Read more
        |  about that, or you can 
        a(href="#", ng-click="hideWarning = true") hide this warning.

  p To save image, right-click on the above image and click "save image as.." or 
    a.btn.btn-default(href="#", igc-downloader="imageGenerator") click here
    |  to download it.
  
  form
    dl.buttons
      div.pull-right
        label
          input(type="checkbox", ng-model="hideLayers")
          |  Hide Layer Config
        label
          input(type="checkbox", ng-model="hideBgSettings")
          |  Hide BG Config
    
      button.btn.btn-primary(ng-click="imageGenerator.addLayer({expanded: true})")
        span.glyphicon.glyphicon-plus
        |  Add Layer
      button.btn.btn-primary(ng-click="imageGenerator.redraw()")
        span.glyphicon.glyphicon-refresh
        |  Redraw
    
    div.list-group(ng-hide="hideLayers")
      div.list-group-item(ng-repeat="layer in imageGenerator.layers")
        div.nav.pull-right

          button.btn.btn-default(ng-click="layer.expanded = !layer.expanded", ng-class="{active: layer.expanded}")
            span.glyphicon.glyphicon-pencil

          button.btn(ng-click="layer.visible = !layer.visible", ng-class="{'btn-success': layer.visible, 'btn-default': !layer.visible}")
            span.glyphicon(ng-class="{'glyphicon-eye-open': layer.visible, 'glyphicon-eye-close': !layer.visible}")

          button.btn.btn-danger(ng-click="imageGenerator.removeLayer($index)")
            span.glyphicon.glyphicon-remove

        label.list-group-item-head
          span(ng-hide="layer.editingName", ng-click="layer.editingName = true") {{layer.name || 'Layer ' + ($index + 1)}}
          input(ng-show="layer.editingName", ng-model="layer.name", ng-blur="layer.editingName = false")

        div(ng-if="!!layer.expanded")
          div.row(ng-hide="!!layer.text")
            dl.col-sm-12
              dt Image (url)
              dd
                input.form-control(type="text", ng-model="layer.imageUrl", placeholder="http://")
          div.row(ng-hide="!!layer.imageUrl")
            dl.col-sm-9
              dt Text
              dd
                input.form-control(type="text", ng-model="layer.text")
            dl.col-sm-3
              dt Color
              dd
                input.form-control(type="text", colorpicker="hex", ng-model="layer.color")
          div.row(ng-hide="!!layer.imageUrl||!layer.text")
            dl.col-sm-3
              dt Alignment
              dd
                select.form-control(ng-options="o[0] as o[1] for o in alignments", ng-model="layer.align")
            dl.col-sm-6
              dt Font-family
              dd
                select.form-control(ng-options="o[0] as o[1] for o in fontsAvail", ng-model="layer.font")
            dl.col-sm-3
              dt Font size
              dd
                input.form-control(type="number", ng-model="layer.fontSize")
          div.row
            dl.col-sm-3
              dt Width
              dd
                input.form-control(type="number", ng-model="layer.width", min="0", ng-disabled="layer.autoSize")
            dl.col-sm-3
              dt Height
              dd
                input.form-control(type="number", ng-model="layer.height", min="0", ng-disabled="layer.autoSize")
            dl.col-sm-3
              dt Pos X
              dd
                input.form-control(type="number", ng-model="layer.position.x")
            dl.col-sm-3
              dt Pos Y
              dd
                input.form-control(type="number", ng-model="layer.position.y")
            dl.col-sm-6
              label
                input(type="checkbox", ng-model="layer.autoSize")
                |  Auto Size
              label
                input(type="checkbox", ng-model="layer.showBorder")
                |  Show Border
            dl.col-sm-6
            
    div.row(ng-hide="hideBgSettings")
      div.col-sm-6
        label
          input(type="radio", ng-model="backgroundImgType", value="none")
          |  No background (transparent)
      div.col-sm-6
        label
          input(type="radio", ng-model="backgroundImgType", value="solid")
          |  Solid color background
        div(ng-show="backgroundImgType === 'solid'")
          input.form-control( type="text", colorpicker="rgba", ng-model="backgroundColor")
          em.text-muted All context fillStyle props supported here.
    div.row(ng-hide="hideBgSettings")
      div.col-sm-6
        label
          input(type="radio", ng-model="backgroundImgType", value="preset")
          |  Preset background image
      div.col-sm-6
        label
          input(type="radio", ng-model="backgroundImgType", value="custom")
          |  Custom background image url

      dl.col-sm-12(ng-show="backgroundImgType === 'preset'")
        select.form-control(ng-options="o[0] as o[1] for o in backgroundImgs", ng-model="backgroundImg")
      dl.col-sm-12(ng-show="backgroundImgType === 'custom'")
        input.form-control(type="text", ng-model="backgroundImg", placeholder="http://")

    div.row(ng-show="backgroundImgType === 'custom' || backgroundImgType === 'preset'")
      dl.col-sm-12(ng-hide="hideBgSettings")
        dt Background Image Position
        dd.row
          label.col-sm-3
            input(type="radio", name="backgroundImgPos", value="cover", ng-model="backgroundImgPos")
            |  Cover
          label.col-sm-3
            input(type="radio", name="backgroundImgPos", value="fit", ng-model="backgroundImgPos")
            |  Fit
          label.col-sm-3
            input(type="radio", name="backgroundImgPos", value="stretch", ng-model="backgroundImgPos")
            |  Stretch
          label.col-sm-3
            input(type="radio", name="backgroundImgPos", value="repeat", ng-model="backgroundImgPos")
            |  Repeat

    div.row
      dl.col-sm-6
        dt Width
        dd
          input.form-control(type="number", ng-model="width")
      dl.col-sm-6
        dt Height
        dd
          input.form-control(type="number", ng-model="height")
        