<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Meme Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/reset_back.css">
    <link rel="stylesheet" href="css/style_back.css">
    <link rel="stylesheet" href="css/reset_meme.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://cdn.rawgit.com/buberdds/angular-bootstrap-colorpicker/master/css/colorpicker.min.css'>

    <link rel="stylesheet" href="css/style_meme.css">
    <style>
      h1, span, p, a, dt {
        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
      }
      .log-image {
        height: 30px; 
        width: 30px; 
        display: none;
      }
      .log-image:hover {
        cursor: pointer;
      }
      .tooltip-inner {
        white-space: nowrap;
      }
    </style>
    
    
  </head>

  <body>

    
<div ng-app="MemeApp" ng-controller="MemeCtrl" class="container">
  <div class ="button" style="display: -webkit-box">
    <a href="image-selection.html" class="back arrow"></a>
  </div>
  <h1 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif">Meme Generator</h1>
  <div class="alpha-wrapper" style="width: 50%; height: 51%; margin-left: 0%; float: left">
    <image-generator-canvas igc-controller="imageGenerator" width="{{width}}"
                            height="{{height}}"></image-generator-canvas>
    <div ng-hide="hideWarning" class="cors-warning">
      <p>Images that can't be found, or are loaded from a server that doesn't support / allow CORS, will appear as a red X. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image" target="_blank">Read more</a> about that, or you can <a href="#" ng-click="hideWarning = true">hide this warning.</a></p>
    </div>
  </div>
  <form  style="width: 45%; float: right; margin-top: 2%">
    <div ng-hide="hideLayers" class="list-group">
      <div ng-repeat="layer in imageGenerator.layers" class="list-group-item">
        <div class="nav pull-right">
          <button ng-click="layer.expanded = !layer.expanded"
                  ng-class="{active: layer.expanded}"
                  class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
          <button style='background-color: #86B500; border-color: #86B500' ng-click="layer.visible = !layer.visible"
                  ng-class="{'btn-success': layer.visible, 'btn-default': !layer.visible}" class="btn"><span ng-class="{'glyphicon-eye-open': layer.visible, 'glyphicon-eye-close': !layer.visible}" class="glyphicon"></span></button>
          <!--<button ng-click="imageGenerator.removeLayer($index)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>-->
        </div>
        <label class="list-group-item-head"><span ng-hide="layer.editingName" ng-click="layer.editingName = true">{{layer.name || 'Layer ' + ($index + 1)}}</span>
          <input ng-show="layer.editingName" ng-model="layer.name" ng-blur="layer.editingName = false"/>
        </label>
        <div ng-if="!!layer.expanded">
          <div ng-hide="!!layer.text" class="row">
            <dl class="col-sm-12">
              <dt>Image (url)</dt>
              <dd>
                <input type="text" ng-model="layer.imageUrl" placeholder="http://" class="form-control"/>
              </dd>
            </dl>
          </div>
          <div ng-hide="!!layer.imageUrl" class="row">
            <dl class="col-sm-9">
              <dt>Text</dt>
              <dd>
                <input type="text" ng-model="layer.text" class="form-control"/>
              </dd>
            </dl>
            <dl class="col-sm-3">
              <dt>Color</dt>
              <dd>
                <input type="text" colorpicker="hex" ng-model="layer.color" class="form-control"/>
              </dd>
            </dl>
          </div>
          <div ng-hide="!!layer.imageUrl||!layer.text" class="row">
            <dl class="col-sm-3">
              <dt>Alignment</dt>
              <dd>
                <select ng-options="o[0] as o[1] for o in alignments" ng-model="layer.align" class="form-control"></select>
              </dd>
            </dl>
            <dl class="col-sm-6">
              <dt>Font-family</dt>
              <dd>
                <select ng-options="o[0] as o[1] for o in fontsAvail" ng-model="layer.font" class="form-control"></select>
              </dd>
            </dl>
            <dl class="col-sm-3">
              <dt>Font size</dt>
              <dd>
                <input type="number" ng-model="layer.fontSize" class="form-control"/>
              </dd>
            </dl>
          </div>
          <div class="row">
            <!--<dl class="col-sm-3">-->
              <!--<dt>Width</dt>-->
              <!--<dd>-->
                <!--<input type="number" ng-model="layer.width" min="0" ng-disabled="layer.autoSize" class="form-control"/>-->
              <!--</dd>-->
            <!--</dl>-->
            <!--<dl class="col-sm-3">-->
              <!--<dt>Height</dt>-->
              <!--<dd>-->
                <!--<input type="number" ng-model="layer.height" min="0" ng-disabled="layer.autoSize" class="form-control"/>-->
              <!--</dd>-->
            <!--</dl>-->
            <dl class="col-sm-3">
              <dt>Pos X</dt>
              <dd>
                <input type="number" ng-model="layer.position.x" class="form-control"/>
              </dd>
            </dl>
            <dl class="col-sm-3">
              <dt>Pos Y</dt>
              <dd>
                <input type="number" ng-model="layer.position.y" class="form-control"/>
              </dd>
            </dl>
            <dl class="col-sm-6">
              <label>
                <input type="checkbox" ng-model="layer.autoSize"/> Auto Size
              </label>
              <label>
                <input type="checkbox" ng-model="layer.showBorder"/> Show Border
              </label>
            </dl>
            <dl class="col-sm-6"></dl>
          </div>
        </div>
      </div>
    </div>

    <dl class="buttons">
      <!--<div class="pull-right">-->
      <!--<label>-->
      <!--<input type="checkbox" ng-model="hideLayers"/> Hide Layer Config-->
      <!--</label>-->
      <!--<label>-->
      <!--<input type="checkbox" ng-model="hideBgSettings"/> Hide BG Config-->
      <!--</label>-->
      <!--</div>-->
      <!--<button ng-click="imageGenerator.addLayer({expanded: true})" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Layer</button>-->
      <!--<button ng-click="imageGenerator.redraw()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Redraw</button>-->
      <div style="position: absolute">
        <a href="#" igc-downloader="imageGenerator" class="btn btn-default"
          style="background-color: #4A99C6; color: #fff">
          Click Here
        </a>
        <div style="float: right"> 
          &nbsp to share your meme to
          <div style="display: inline">
            <a data-toggle="tooltip" data-placement="bottom" title="Connect to Facebook">
              <img id="fb-login" class="log-image" src="img/fb_gray.png" onclick="login();" />
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Logout Facebook">
              <img id="fb-logout" class="log-image" src="img/fb_blue.jpg" onclick="logout();" />
            </a>
          </div>
          <!-- <fb:login-button auto_logout_link="true" background="dark" scope="public_profile, publish_actions" login_text="Connect with Facebook"/> -->
        </div>
      </div> 
    </dl>
    <!--<div ng-hide="hideBgSettings" class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="none"/> No background (transparent)-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="solid"/> Solid color background-->
        <!--</label>-->
        <!--<div ng-show="backgroundImgType === 'solid'">-->
          <!--<input type="text" colorpicker="rgba" ng-model="backgroundColor" class="form-control"/><em class="text-muted">All context fillStyle props supported here.</em>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div ng-hide="hideBgSettings" class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="preset"/> Preset background image-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<label>-->
          <!--<input type="radio" ng-model="backgroundImgType" value="custom"/> Custom background image url-->
        <!--</label>-->
      <!--</div>-->
      <!--<dl ng-show="backgroundImgType === 'preset'" class="col-sm-12">-->
        <!--<select ng-options="o[0] as o[1] for o in backgroundImgs" ng-model="backgroundImg" class="form-control"></select>-->
      <!--</dl>-->
      <!--<dl ng-show="backgroundImgType === 'custom'" class="col-sm-12">-->
        <!--<input type="text" ng-model="backgroundImg" placeholder="http://" class="form-control"/>-->
      <!--</dl>-->
    <!--</div>-->
    <!--<div ng-show="backgroundImgType === 'custom' || backgroundImgType === 'preset'" class="row">-->
      <!--<dl ng-hide="hideBgSettings" class="col-sm-12">-->
        <!--<dt>Background Image Position</dt>-->
        <!--<dd class="row">-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="cover" ng-model="backgroundImgPos"/> Cover-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="fit" ng-model="backgroundImgPos"/> Fit-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="stretch" ng-model="backgroundImgPos"/> Stretch-->
          <!--</label>-->
          <!--<label class="col-sm-3">-->
            <!--<input type="radio" name="backgroundImgPos" value="repeat" ng-model="backgroundImgPos"/> Repeat-->
          <!--</label>-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<dl class="col-sm-6">-->
        <!--<dt>Width</dt>-->
        <!--<dd>-->
          <!--<input type="number" ng-model="width" class="form-control"/>-->
        <!--</dd>-->
      <!--</dl>-->
      <!--<dl class="col-sm-6">-->
        <!--<dt>Height</dt>-->
        <!--<dd>-->
          <!--<input type="number" ng-model="height" class="form-control"/>-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</div>-->
  </form>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index_back.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src='http://cdn.rawgit.com/buberdds/angular-bootstrap-colorpicker/master/js/bootstrap-colorpicker-module.min.js'></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/purl.js"></script>

<script src="js/index_meme.js"></script>
<script src="js/social_share.js"></script>
<script src="js/base64-binary.js"></script>
<script src="js/facebook-photo-post-javascript.js"></script>
  </body>
</html>
