<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Reply Page</title>

    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/reset_back.css">
    <link rel="stylesheet" href="css/style_back.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style_reply.css">

    <style>
      h1, span, div, a {
        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
        text-shadow: none;
      }
    </style>

    
    
    
  </head>

  <body>
    <div class ="button" style="display: -webkit-box">
      <a href="question-board.html" class="back arrow" style="margin-left: 5%"></a>
    </div>
    <div class="comments-app" ng-app="commentsApp" ng-controller="CommentsController as cmntCtrl">
  <h1 style="line-height: 1em; width: 115%">Why did pop music become so vulgar?<span
          style="font-size: 16px; line-height: 0.1em"><br>For
    example, in
    the
    Bilboard charts
    you had charming songs like "I love a rainy night" by Eddie Rabbitt in the early '80s; now however, you see songs with extremely raunchy lyrics. There are countless more examples of this. </span></h1>
  
  <!-- From -->
  <div class="comment-form">
    <!-- Comment Avatar -->
    <div class="comment-avatar">
      <img src="http://sexar.pagelab.io/comments-angularjs/imgs/thumb-anonymous.jpg">
    </div>

    <form class="form" name="form" ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
      <div class="form-row">
        <textarea
                  class="input"
                  ng-model="cmntCtrl.comment.text"
                  placeholder="Add comment..."
                  required></textarea>
      </div>

      <div class="form-row">
        <input
               class="input"
               ng-class="{ disabled: cmntCtrl.comment.anonymous }"
               ng-disabled="cmntCtrl.comment.anonymous"
               ng-model="cmntCtrl.comment.author"
               ng-required="!cmntCtrl.comment.anonymous"
               placeholder="Preferred Name"
               type="email">
      </div>

      <div class="form-row text-right">
        <input
               id="comment-anonymous"
               ng-change="cmntCtrl.anonymousChanged()"
               ng-model="cmntCtrl.comment.anonymous"
               type="checkbox">
        <label for="comment-anonymous">Anonymous</label>
      </div>

      <div class="form-row">
        <input type="submit" value="Add Comment">
      </div>
    </form>
  </div>

  <!-- Comments List -->
  <div class="comments">
    <!-- Comment -->
    <div class="comment" ng-repeat="comment in cmntCtrl.comments | orderBy: '-date'">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img ng-src="{{ comment.avatarSrc }}">
      </div>

      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">{{ comment.text }}</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <em ng-if="comment.anonymous">Anonymous</em>
              <a ng-if="!comment.anonymous" href="{{ comment.author }}">{{ comment.author }}</a>
            </span>
            <span class="comment-date">{{ comment.date | date: 'medium' }}</span>
          </div>

          <div class="comment-actions">
            <a href="#">Reply</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Comment - Dummy -->
    <div class="comment">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img src="img/pikachu.png">
      </div>

      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">Personally, I blame Mozart. Here's a charming little ditty he wrote called "Difficile Lectu." Its lyrics include the phrase "Leck du mich im Arsch," which translates to something like "lick my ass." </div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <a href="mailto:sexar@pagelab.io">Pikachu</a>
            </span>
            <span class="comment-date">Oct 9, 2015 11:32:04 PM</span>
          </div>

          <div class="comment-actions">
            <a href="#">15 Likes</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Comment - Dummy -->
    <div class="comment">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img src="img/squirtle.png">
      </div>

      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">When it was new, the waltz was considered the height of vulgarity because (gasp) men and women held each other while dancing.

          The Charleston was shocking at the time. Elvis was censored on TV.

          So if you're asking when pop music became vulgar, it was a really long time ago. ;)</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <a href="mailto:ximme13@somedomain.io">Squirtle</a>
            </span>
            <span class="comment-date">Jan 31, 2015 11:32:04 PM</span>
          </div>

          <div class="comment-actions">
            <a href="#">13 likes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index_back.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

    <script src="js/index_reply.js"></script>

    
    
    
  </body>
</html>
